@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    When you create an account in this sample app, you will get a user profile containing your email and displayName. 
    <br/><br/>
    When creating a Mircosoft Entra Verified ID credential, the only place the credentials claims are stored are on your mobile phone and in the Microsoft Authenticator or your custom wallet.  
</p>
