<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="Verified ID + B2C sample">
    <meta name="author" content="Microsoft">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="icon" href="~/favicon.png">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3 bg-nw-purple">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-nw-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>

                    @if (User.Identity?.IsAuthenticated == true) {
                        <li class="nav-item">
                            <a class="nav-link text-nw-white" asp-area="" asp-controller="Home" asp-action="SensitivePage">| Page Requiring MFA</a>
                        </li>
                    }
                </ul>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div id="wrap">
        <main role="main" class="starter-template">
                @RenderBody()
        </main>
    </div>
    <footer>
        <p class="text-center text-gray tiny-text margin-top-75"></BR>
        </p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync( "Scripts", required: false )
</body>
</html>
 