@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p style="display:inline-block;text-align:left">
        Learn about:
        <br />
        <a href="https://docs.microsoft.com/aspnet/core" target="_blank">Building Web apps with ASP.NET Core</a>.
        <br />
        <a href="https://learn.microsoft.com/en-us/azure/active-directory/external-identities/customers/sample-web-app-dotnet-sign-in" target="_blank">Building Web apps with ASP.NET Core and External ID</a>.
        <br />
        <a href="https://aka.ms/didfordevs" target="_blank">Building apps with Microsoft Entra Verified ID</a>.
        </br>
    </p>
</div>
