@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This sample creates user accounts in your tenant. For employee onboarding a member user type is created and for guest onboarding, a guest account is created.</p> 
    
<p>The new employee user can onboard and receive a temporary access pass to get access to the account.</p>

<p>The new guest user can onboard via presenting a VerifiedEmployee from their home tenant.</p> 

<p>If you test in a production-like tenant, please remember to delete the accounts after testing.</p>

