@page
@model AspNetCoreVerifiableCredentials.Pages.IssuerModel
@{
    ViewData["Title"] = "Issuer";
}
<div id="wrap">
    <div style="text-align: center;">
        <img id="logo" src="VerifiedCredentialExpert-icon.png" height=200px; />
        <h1 id="idTitle">Verifiable Credential Issuance</h1>
        <h2 id="idSubTitle"></h2>

        <button type="button" id="sign-in" class="button">GET CREDENTIAL</button>
        <div id="qrText" style="display:none;">
            <p class="small-text">
                <img src="authenticator-icon.png" alt="Authenticator icon" class="icon-small"><br>
                Scan with Microsoft Authenticator or Custom Wallet
            </p>
        </div>
        <a id="deeplink" style="display: none;margin-top: 10px;">Tap to open Authenticator on mobile</a>
        <div id="qrcode" style="text-align: center"></div>
        <div id="pinCodeText" style="display: none"></div>

        <div id="message-wrapper" class="margin-bottom-75 margin-top-75" style="display: none">
            <i class="fas fa-user-check green icon-text-large margin-bottom-25"></i>
            <div id="message"></div>
            <br />
            <div id="payload"></div>
        </div>

        <script src="qrcode.min.js"></script>
        <script>
            var signIn = document.getElementById('sign-in');
            var signOut = document.getElementById('sign-out');
            var display = document.getElementById('display');
            var qrcode = new QRCode("qrcode", { width: 200, height: 200 });
            var respIssuanceReq = null;
            signIn.addEventListener('click', () => {
                fetch('api/issuer/issuance-request')
                    .then(function (response) {
                        response.text()
                            .catch(error => displayMessage(error))
                            .then(function (message) {
                                respIssuanceReq = JSON.parse(message);
                                if (/Android/i.test(navigator.userAgent)) {
                                    console.log(`Android device! Using deep link (${respIssuanceReq.url}).`);
                                    window.location.href = respIssuanceReq.url; setTimeout(function () {
                                        window.location.href = "https://play.google.com/store/apps/details?id=com.azure.authenticator";
                                    }, 2000);
                                } else if (/iPhone/i.test(navigator.userAgent)) {
                                    console.log(`iOS device! Using deep link (${respIssuanceReq.url}).`);
                                    window.location.replace(respIssuanceReq.url);
                                } else {
                                    if (response.status > 299) {
                                        displayMessage(message);
                                    } else {
                                        console.log(`Not Android or IOS. Generating QR code encoded with ${message}`);
                                        qrcode.makeCode(respIssuanceReq.url);
                                        document.getElementById('sign-in').style.display = "none";
                                        document.getElementById('qrText').style.display = "block";
                                        if (respIssuanceReq.pin) {
                                            document.getElementById('pinCodeText').innerHTML = "Pin code: " + respIssuanceReq.pin;
                                            document.getElementById('pinCodeText').style.display = "block";
                                        }
                                        checkIssuanceResponse();
                                    }
                                }
                            }).catch(error => { console.log(error.message); })
                    }).catch(error => { console.log(error.message); })


            });

            function displayMessage(msg) {
                document.getElementById('message-wrapper').style.display = "block";
                document.getElementById("message").innerHTML = msg;
            }

            function checkIssuanceResponse() {
                var checkStatus = setInterval(function () {
                    fetch('api/issuer/issuance-response?id=' + respIssuanceReq.id)
                        .then(response => response.text())
                        .catch(error => displayMessage(error))
                        .then(response => {
                            if (response.length > 0) {
                                console.log(response)
                                respMsg = JSON.parse(response);
                                // QR Code scanned, show pincode if pincode is required
                                if (respMsg.status == 'request_retrieved') {
                                    document.getElementById("qrcode").getElementsByTagName("img")[0].style.opacity = "0.1";
                                    document.getElementById('qrText').style.display = "none";
                                    if (respMsg.pin) {
                                        document.getElementById('pinCodeText').style.display = "visible";
                                    }
                                    displayMessage(respMsg.message);
                                }
                                if (respMsg.status == 'issuance_successful') {
                                    document.getElementById('qrcode').style.display = "none";
                                    document.getElementById('pinCodeText').style.display = "none";
                                    document.getElementById('message').innerHTML = respMsg.message;
                                    clearInterval(checkStatus);
                                }
                                if (respMsg.status == 'issuance_error') {
                                    document.getElementById('qrcode').style.display = "none";
                                    document.getElementById('pinCodeText').style.display = "none";
                                    document.getElementById('message').innerHTML = "Issuance error occurred, did you enter the wrong pincode? Please refresh the page and try again.";
                                    document.getElementById('payload').innerHTML = "Payload: " + respMsg.payload;
                                    clearInterval(checkStatus);
                                }
                            }
                        })
                }, 2500);
            }

            fetch('api/issuer/get-manifest')
                .then(function (response) {
                    response.text()
                        .catch(error => displayMessage(error))
                        .then(function (message) {
                            console.log(message);
                            if (!response.ok) {
                                displayMessage(message)
                            } else {
                                var manifest = JSON.parse(message);
                                document.getElementById('idTitle').innerHTML = "Issuance of " + manifest.display.card.title + " by " + manifest.display.card.issuedBy;
                                document.getElementById('idSubTitle').innerHTML = manifest.display.card.description;
                                document.getElementById('logo').src = manifest.display.card.logo.uri;
                            }
                        }).catch(error => { console.log(error.message); })
                }).catch(error => { console.log(error); })

            function parseParms(str) {
                var pieces = str.split("&"), data = {}, i, parts;
                for (i = 0; i < pieces.length; i++) {
                    parts = pieces[i].split("=");
                    if (parts.length < 2) {
                        parts.push("");
                    }
                    data[decodeURIComponent(parts[0])] = decodeURIComponent(parts[1]);
                }
                return data;
            }

            window.onload = function () {
                var autoclick = parseParms(document.location.search.substring(1)).autoclick;
                if (autoclick) {
                    document.getElementById('sign-in').click();
                }
            }

        </script>
    </div>
</div>
