html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

/*
body {
  margin-bottom: 60px;
}
*/

/* ---- */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*background-color: white;*/
    background-color: #dbeadd;
}

#wrap {
    margin: 0 auto;
    width: 800px;
}

a:hover {
    cursor: pointer;
}

.button {
    background-color: #3B2E58;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    /*font-size: calc(1rem + 1vw);*/
    font-size: 14px;
    font-weight: bold;
}
.button:disabled, .button[disabled] {
    background-color: #cccccc;
}
.dark-purple-fill {
    background-color: #3B2E58;
}

.light-purple-fill {
    background-color: #8661c5;
}

.icon-small {
    width: 50px;
    padding-bottom: 5px;
}

.icon-text-large {
    font-size: 100px;
}

.small-text {
    /*font-size: calc(1rem + 1vw);*/
    font-size: 16px;
}

.tiny-text {
    /*font-size: calc(1rem + 1vw);*/
    font-size: 12px;
}

.text-gray {
    color: gray;
}

.text-center {
    text-align: center;
}

#qrcode > img {
    margin: 0 auto;
    padding-top: 25px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-75 {
    margin-top: 75px;
}

.margin-bottom-25 {
    margin-bottom: 25px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-75 {
    margin-bottom: 75px;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}

.green {
    color: #228B22;
}

.bg-black {
    color:white;
    background-color: black;
}
#message {
    /*font-size: calc(1rem + 1vw);*/
    font-size: 16px;
}

.banner {
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/banner_image01.png);
    background-position: center top;
    background-size: cover;
    height: 85px;
}

.monospacedText {
    background-color: #0000;
    border: black;
    color: black;
    padding: 2px 32px;
    text-align: center;
    text-decoration: none;
    /*border-radius: 8px; */
    display: inline-block;
    /*font-size: calc(2rem + 1vw);*/
    font-size: 14px;
    font-family: 'consolas'
}

.waitingForAuthApp {
    background-color: #3B2E58;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    /*font-size: calc(1rem + 1vw);*/
    font-size: 14px;
    font-weight: bold;
    /*margin-bottom: 50px;*/
}
.appsWrapper {
    text-align: left;
    font-size: 14px;
}

.authAppDone {
    background-color: green;
    border: black;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
    /*font-size: calc(1rem + 1vw);*/
    font-size: 14px;
    font-weight: bold;
    /*margin-bottom: 50px;*/
    margin-top: 25px;
}

.skipButton {
    /*font-size: calc(1rem + 1vw);*/
    font-size: 16px;
    text-decoration: underline;
    color: blue;
}

.accountInfo {
    /*font-size: calc(1rem + 1vw);*/
    font-size: 14px;
}

/* -------- */
.verification-card {
    /*background: var(--app-primary-font);*/
    border: 1px solid;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgba(0,0,0,.15);
    border-radius: 10px;
    padding: 20px 30px;
    width: 100%;
    height: 300px;
    max-width: 352px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    float: left;
    margin-left: 15px;
    background-color: white;
    opacity = 1.0;
}

.verification-card__header {
    text-align: center;
    font-family: Roboto,sans-serif;
    width: 61px;
    height: 61px;
    font-size: 32px;
    line-height: 61px;
    color: var(--app-primary-font);
    border-radius: 50%;
    background-color: var(--app-success);
}

.verification-card-build {
    /*background: var(--app-primary-font);*/
    border: 1px solid;
    box-sizing: border-box;
    box-shadow: 2px 2px 10px rgba(0,0,0,.15);
    border-radius: 10px;
    padding: 20px 30px;
    width: 100%;
    height: 380px;
    max-width: 380px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    float: left;
    margin-left: 15px;
    background-color: white;
    opacity = 1.0;
}

table {
    margin: 0 auto;
}

.marquee {
    width: 450px;
    line-height: 50px;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    animation: marquee 15s linear infinite;
}

.footer-text-muted {
    color: #c0c0c0;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}