<!-- Copyright (c) Microsoft Corporation. All rights reserved.
     Licensed under the MIT License. -->
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Verifiable Credential Expert Request API Sample - @ViewData["Title"]</title>
    <meta name="description" content="Verifiable Credentials Expert">
    <meta name="author" content="Microsoft">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="favicon.png">       
</head>

<body>
    <div id="wrap">

    <main role="main" class="starter-template">
            @RenderBody()
    </main>

    <footer>
        <p class="text-center text-gray tiny-text margin-top-75"></BR>
        </p>
    </footer>
    </div>
</body>
</html>
 